* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o preenchimento/padding seja incluído no cálculo da largura, evitando que o conteúdo ultrapasse a tela*/
}

html {
    width: 100%;
    height: 100vh;
}

header {
    padding: min(5vh, 4rem); /*Ajustando o padding para ser mais flexível*/
    background-color: #3e838c;
    width: 100%; /*Colocando a largura para 100% do espaçe dísponivel*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Aqui começamos o posicionamento do header */
    position: sticky; /*Posicionamento do Header usando o Stick, sendo um posicionamento fixo, porém distinto do Fixed*/
    top: 0; /*Espaçamento superior zerado, fazendo com que o Header fique grudado ao top*/
    left: 0; /*Espaçamento a esuqerda zerado, fazendo com que o Header fique grudado à esquerda*/
    z-index: 999; /*Eixo de profundidade*/

    /*borda inferior*/
    box-shadow: 0 0.21rem 0.5rem #ffffff; /*Primeiro valor xombra na Dreita (0) segundo valor sombra Bottom (0.21rem) terceiro valor gradiant da sombra (0.5rem)*/
}

header i {
    color: white;
    font-size: 6em;
}

header button {
    width: 13rem;
    height: 1.5rem;
    background-color: #8ebdb6;
    border-radius: 1rem;
    padding: 1.3rem;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-01 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1900ff;
    width: 100%;
    padding: min(20vh, 6rem);
}

.section-02 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #002857;
    width: 100%;
    padding: min(20vh, 6rem);
}

.div-01 p {
    font-size: 2em;
    margin: 1.2em;
    color: white;
}

.div-02 img {
    width: 25rem;
    margin: 5rem auto;
    display: block; /* Garantindo que a imagem se comporte como um bloco */
}

.section-03 {
    display: flex; /*Tornando ele flexível*/
    justify-content: center; /*Justificando os itens na Horizontal*/
    align-items: center; /* Justificando os itens na Horizontal*/
    background-color: #1c61b0; /*Alteradno as cores de fundo para diferenciar das sections*/
    width: 100%;/*Alteramos de 100vw para 100%*/
    padding: min(20vh, 6rem); /*Ajustando para flexibilidade*/
}

.container { /*Elemento pai das caixas (3 div's)*/
    display: flex; /*Tornando ele flexível*/
    justify-content: center; /*Justificando os itens na Horizontal*/
    align-items: center; /* Justificando os itens na Horizontal*/
    margin-bottom: 10rem; /*Espaçamento inferior em relação a sessão*/
    z-index: 1; /* Prioridade no eixo Z (eixo cartesiano)*/
    flex-wrap: wrap; /*Habilitando a quebra de linha das caixas caso necessário*/
    position: relative; /*Posicionamento relativo*/
}

.card { /*Aqui estmaos estilixando nossa caixa onde dentr estão os conteúdos*/
    width: 200px; /*Largura da caixa*/
    height: 400px; /*Altura da caixa */
    margin: 30px; /*Espaçamento geral*/
    box-shadow: 20px 20px 50px rgb(0, 0, 95); /*Sombra da ciaxa e cor*/
    border-radius: 15px; /*Arredondametno da borda*/
    background-color: rgba(233, 167, 223, 0.288); /*Cor de fundo do elemento*/
}

.content { /*Caixa de conteúdo*/
    padding: 20px; /*Preenchimento interno do conteúdo */
    text-align: center; /*Alinhando o conteúdo ao centro*/
    transform: translateY(50px); /*Estabelecendo um raio de 50px de espaço no eixo Y*/
    opacity: 0.2; /*20% de opacidade*/
    transition: 0.5s; /*Aplicando uma transição no evento*/
}

.content:hover {
    opacity: 1; /*100% de opacidade*/
    transform: translateY(0px); /*Aplicando o retorno do conteúdo ao Eixo Y em 0*/
}

.content h2 { /*Subtítulo da caixa*/
    position: absolute; /*posicionamento absoluto em relação ao PAI*/
    right: 30px; /*Jogando ele 30px a direita*/
    font-size: 5rem; /*Tamanho da letra*/
    color: rgba(0, 0, 0, 0.557); /*Cor da letra - deixar no transparente*/
}

.content h3 { /*Segundo subtítulo da caixa*/
    font-size: 1.8rem; /*Tamanho da letra*/
    color: white; /*Cor da letra*/
    z-index: 1; /*Prioridade no Eixo Z*/
}

.content p { /*Parágrafo da caixa*/
    font-size: 0.8em; /*Tamanho da letra*/
    color: white; /*Cor da letra*/
    font-weight: 300; /*Peso da fonte*/
    margin-top: 4rem; /*Espaçamento superior*/
}

.content a { /*Botão âncorado da caixa*/
    padding: 8px 20px; /* Preenchimento eixo X e Y*/
    background-color: white; /*Cor de fundo*/
    color: black; /*Cor da letra*/
    text-decoration: none; /*Removendo o sublinhado*/
    border-radius: 15px; /*Arredondamento da borda*/
    font-weight: 500; /*Peso da fonte*/
    margin-top: 2.7rem; /*Espaçamento superior*/ 
    box-shadow: 0 5px 15px black; /*Sombra da caixa*/
    display: inline-block; /*Comportamento do botão em linha e sempre em bloco*/
    position: relative; /*Posicionamento relativo*/
}




footer {
    background-color: #3e838c;
    width: 100%;
    padding: min(10vh, 4rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div-icons a {
    text-decoration: none;
    color: white; 
    font-size: 8em; 
}


.div-icons a i {
    background-color: rgba(240, 248, 255, 0.411); 
    padding: 1rem; 
    border-radius: 1rem; 
    text-align: center;
}



@media(max-width: 830px) {
    header i {
        font-size: 3rem;
        z-index: 999;
    }

    header button {
        width: 10rem;
        height: 0.8rem;
    }

    .section-01 {
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .section-02 {
        padding: 9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    .div-01 p {
        font-size: 1.1rem;
        line-height: 1.5;
        text-align: left;
        padding: 2.3rem;
        width: 100%;
        margin: 1em;
    }

    .div-02 img {
        width: 18rem;
        margin: 0 auto;
    }

    .div-icons a {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
}
